@import '../../style/constansts.scss';
.form {
  margin-top: 40px;
}
.buttonAutn {
  background-color: $info;
  border-radius: 5px;
  color: $dark4;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  color: $textSecondary;
  font-weight: 700;
}
