$primary: #516778;
$secondary: #5b98c6;
$textPrimary: #f0f9ff;
$textSecondary: #083659;
$danger: #fc6a71;
$warning: #ffc06b;
$success: #6be25f;
$process: #bcffb5;
$info: #b9e1ff;

//light
$light1: #f1fff0;
$light2: #fff8f0;
$light3: #fff0f0;
$light4: #ffdfb5;

//dark
$dark1: #6699cc;
$dark2: #006699;
$dark3: #001529;
$dark4: #003366;
